In [ ]:
import pandas as pd
import mysql.connector

# Connect to MySQL server
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)

mycursor = mydb.cursor(buffered=True)

# Create a new database if it doesn't exist
mycursor.execute("CREATE DATABASE IF NOT EXISTS redbus_data")

# Step 4: Connect to the newly created database
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="redbus_data"
)

mycursor = mydb.cursor(buffered=True)

# Create the table if it doesn't exist
mycursor.execute('''
    CREATE TABLE IF NOT EXISTS apsrtc_routes (
        route_id INT AUTO_INCREMENT PRIMARY KEY,
        route_name TEXT,
        route_link TEXT,
        bus_name TEXT,
        bus_type TEXT,
        departing_time TIME,
        duration TEXT,
        reaching_time TIME,
        star_rating FLOAT,
        price DECIMAL(10, 2), 
        seats_available INT
    )
''')

mydb.commit()

# Load the CSV data into a pandas DataFrame
csv_file_path = "" # csv fle path
df = pd.read_csv(csv_file_path)

df.dropna(inplace=True)

# Insert DataFrame data into the SQL table
for index, row in df.iterrows():
    sql = '''
        INSERT INTO apsrtc_routes (route_name, route_link, bus_name, bus_type, 
                                  departing_time, duration, reaching_time, star_rating, 
                                  price, seats_available)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    '''
    try:
        mycursor.execute(sql, tuple(row))
    except mysql.connector.Error as e:
        print(f"Error inserting row {index}: {e}")

mydb.commit()
mydb.close()